body
    font-family: 'Roboto', sans-serif
    user-select: none
    .page1
        background-color: #FEA900
    .page2
        background-color: #fff
        display: grid
        ul
            padding: 0
            li
                display: inline-block
                padding: 0
                .trajetWrap
                    display: grid
                    grid-template-columns: 75% 25%
                    padding: .5em 16px
                    > div
                        padding: .5em 0
                        height: 100%
                    .infos
                        .date
                            div:first-child
                                margin-top: 0
                    .stats
                        display: flex
                        flex-direction: column
                        justify-content: space-between
                        text-align: right
                        justify-self: flex-end
                        white-space: nowrap
                        > div
                            display: grid
                            grid-template-columns: repeat(2, 1fr)
                            > img
                                width: 1.2em
                &:last-of-type
                    hr
                        display: none
    .page3
        background-color: #6AC0FF
    .page4
        background-color: #EAC090
    #root
        display: flex
        justify-content: space-between
        flex-direction: column
        height: 100vh
        > .MuiBottomNavigation-root
            min-height: 56px
        > div:first-of-type
            height: 100%
            > div
                height: 100%
                .pageWrapper
                    min-height: 100%
