body
    font-family: 'Roboto', sans-serif
    user-select: none
    .page1
        background-color: #FEA900
    .page2
        display: grid
        .MuiSvgIcon-root
            font-size: 1em
        i
            align-self: center
            text-align: center
        ul
            padding: 0
            li
                display: inline-block
                padding: 0
                .trajetWrap
                    display: grid
                    grid-template-columns: 65% 35%
                    padding: .5em 16px
                    > div
                        padding: .5em 0
                        height: 100%
                    .infos
                        .date
                            div:first-child
                                margin-top: 0
                    .stats
                        display: grid
                        text-align: right
                        white-space: nowrap
                        grid-template-rows: repeat(4, 1fr)
                        > div
                            display: grid
                            grid-template-columns: repeat(2, 1fr)
                            align-items: flex-end
                            > img
                                width: 1em
                &:last-of-type
                    hr
                        display: none
    .page3
        display: flex
        flex-direction: column
        justify-content: center
        color: #444
        h2
            padding: 7% 2% 0
        ul
            li
                display: flex
                justify-content: space-between
                padding: .2% 4%
                &:first-child
                    color: #ffa500
    .page4
        background-color: #EAC090
    #root
        display: flex
        justify-content: space-between
        flex-direction: column
        height: 100vh
        > .MuiBottomNavigation-root
            min-height: 56px
        > div:first-of-type
            height: 100%
            > div
                height: 100%
                .pageWrapper
                    min-height: 100%
