body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slide {
  padding: 5%;
  min-height: 100;
  color: '#fff';
}

.slide1 {
  background-color: #FEA900;
}

.slide2 {
  background-color: #B3DC4A;
}

.slide3 {
  background-color: #6AC0FF;
}

.tabs {
  background-color: #FFFFFF;
}
